@import "tailwindcss";

@theme {
  --color-usm-purple: #2e123f;
  --color-usm-header: #438eb9;
  --color-usm-orange: #e27a12;
  --color-usm-sidebar: #f2f2f2;
  --color-usm-lilac: #f8ebff;
  --font-sans: Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--font-sans);
}
